<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgUHeI2Hs8w7sLOQAx6PfEEMChU7J3KRA</string>
	<key>GCM_SENDER_ID</key>
	<string>321803692958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.databaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>new-flutter-fire-bd19e</string>
	<key>STORAGE_BUCKET</key>
	<string>new-flutter-fire-bd19e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321803692958:ios:d5e9a9307676cc72bb848f</string>
</dict>
</plist>